@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VT323', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #171717;
}

main {
    position: relative;
    margin: 84px 25px;
}

.pokedex {
    border-radius: 10px;
    width: 100%;
    max-width: 425px;
}

.pokemon_image {
    position: absolute;
    bottom: 55%;
    left: 54%;
    transform: translate(-63%, 20%);
    height: 14%;
}

.pokemon_data {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 56.5%;
    align-items: center;
    text-transform: capitalize;
    color: white;
    font-size: 2rem;
    margin: 10px 0;
}

.form {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15%;
}

.search_pokemon {
    width: 200px;
    height: 35px;
    text-align: center;
    font-family: 'VT323', monospace;
    background-color: #121212;
    border: 2px solid #171717;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 20px;
}

.btn_next,
.btn_prev {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #121212;
    border: 2px solid #171717;
    box-shadow: inset 1px -2px  #363636;
    color: #fff;
    font-family: 'VT323', monospace;
    font-size: 1.1rem;
}

.btn_next:active,
.btn_prev:active {
    box-shadow: inset -2px 1px  #363636;
    font-size: 1rem;
}

.day_container {
    position: absolute;
    top: 3%;
    left: 3%;
    color: white;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #850f23;
    color: white;
    text-align: center;
    font-size: 14px;
}

header {
    width: 100%;
    padding: 10px;
    background-color: #9c081f;
    color: white;
    text-align: center;
}
